[
	#{sid => 1,tid => 1,cid => 1,bid => 0,node => 'gate@127.0.0.1'},
	#{sid => 2,tid => 2,cid => 1,bid => 0,node => 'login@127.0.0.1'},
	#{sid => 3,tid => 3,cid => 1,bid => 0,node => 'logger@127.0.0.1'},
	#{sid => 4,tid => 4,cid => 1,bid => 0,node => 'logic1@127.0.0.1'},
	#{sid => 5,tid => 4,cid => 2,bid => 0,node => 'logic2@127.0.0.1'}
].
