{
  "数据库 - 开始": "*****************************************************",
  "mysql_host": "127.0.0.1",
  "mysql_port": "3306",
  "mysql_username": "root",
  "mysql_password": "mjmjmj",
  "mysql_database": "gamedb_old",
  "mysql_mapping": "./数据库映射配置.config",
  "数据库 - 结束": "*****************************************************",
  "通讯协议 - 开始": "***************************************************",
  "protocol_type": "self",
  "protocol_doc": "../protocol",
  "protocol_mapping": "./协议映射配置.config",
  "通讯协议 - 结束": "***************************************************",
  "类型支持 - 开始": "***************************************************",
  "header": "0",
  "long_support": "true",
  "api_support": "ushort",
  "enum_support": "byte",
  "类型支持 - 结束": "***************************************************",
  "代码生成 - 开始": "***************************************************",
  "hrl_code_dir": "../server/include/gen",
  "enum_code_dir": "../server/include/gen",
  "mysql_code_dir": "../server/src/core/database",
  "router_code_dir": "../server/src/core/router",
  "代码生成 - 结束": "***************************************************",
  "调试工具相关 - 开始": "***********************************************",
  "link": "wss",
  "host": "localhost.eyum.top",
  "port": "8888",
  "调试工具相关 - 结束": "***********************************************",
  "相关脚本 - 开始": "***************************************************",
  "start_boot": "",
  "build_boot": "",
  "相关脚本 - 结束": "***************************************************"
}